@import "/src/assets/styles/vars";
@import "/src/assets/styles/utility";

.history {

  .content {

    .no-history {
      width: 100%;
      height: 100%;
      padding: 20px;
      text-align: center;
      color: $text-5;
    }
    
  }
  
}