@import "/src/assets/styles/vars";
@import "/src/assets/styles/utility";

.countdown {
  @include rowr;
  display: inline-flex;
  position: relative;
  z-index: 10;
  font-size: 1em;
  direction: rtl;
  color: #333;
  gap: 4px;
  background-color: transparentize($card-background, 0.5);
  padding: 2px 8px 3px 8px;
  @include circle;
}
