<div class="profile">
  
  <div class="form">

    <div class="gp">

      <label for="oldPass">گذرواژه فعلی</label>
      <input [(ngModel)]="attempt.oldPass" [class.has-error]="(oldPass.dirty || oldPass.touched) && !oldPass.valid"
        class="textbox" type="password" #oldPass="ngModel" name="text" required>

      <ng-container *ngIf="oldPass.dirty || oldPass.touched">
        <span class="err" *ngIf="oldPass.errors?.['required']">لطفا گذرواژه فعلی خود را وارد کنید</span>
      </ng-container>

    </div>

    <div class="gp">
      <label for="newPass">گذرواژه جدید</label>
      <input [(ngModel)]="attempt.newPass" [class.has-error]="(newPass.dirty || newPass.touched) && !newPass.valid"
        class="textbox" type="password" #newPass="ngModel" name="text" required>

      <ng-container *ngIf="newPass.dirty || newPass.touched">
        <span class="err" *ngIf="newPass.errors?.['required']">لطفا گذرواژه جدید خود را وارد کنید</span>
      </ng-container>

    </div>

    <div class="gp">
      <label for="repeatPass">تکرار گذرواژه</label>
      <input [(ngModel)]="attempt.repeatPass" [class.has-error]="(repeatPass.dirty || repeatPass.touched) && !repeatPass.valid"
        class="textbox" type="password" #repeatPass="ngModel" name="text" required>

      <ng-container *ngIf="repeatPass.dirty || repeatPass.touched">
        <span class="err" *ngIf="repeatPass.errors?.['required']">لطفا تکرار گذرواژه را وارد کنید</span>
      </ng-container>

    </div>

    <div class="actions">
      <button class="btn btn-success" [disabled]="!isValid">
        تایید
        <i class="material-icons">check</i>
      </button>
      <button class="btn btn-danger" routerLink="/user/profile">
        لغو
        <i class="material-icons">block</i>
      </button>
    </div>

  </div>
  
</div>