@import "/src/assets/styles/vars";
@import "/src/assets/styles/utility";

.profile {
  position: relative;
  padding-top: 30px;
  @include col;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 420px;
  width: 100%;

  .form {
    max-width: 420px;
    width: 100%;
    @include col;
  }

  .actions {
    @include rowr;
    gap: 16px;
    margin: 0 auto;
    margin-top: 32px;
  }
  
}