<div>
  <div class="from-group">
    <label for="tel">نام کاربری</label>
    <input [(ngModel)]="attempt.telNo" type="tel" #tel="ngModel" name="tel" required>

    <div *ngIf="password.dirty || password.touched">
      <span class="err" *ngIf="tel.errors?.['required']">لطفا شماره تلفن خود را وارد کنید</span>
    </div>

  </div>
  <div class="from-group">
    <label for="password">گذرواژه</label>
    <input [(ngModel)]="attempt.password" type="password" #password="ngModel" name="password" required>

    <div *ngIf="password.dirty || password.touched">
      <span class="err" *ngIf="password.errors?.['required']">لطفا گذرواژه خود را وارد کنید</span>
    </div>

  </div>
  <button [disabled]="!isValid" class="login" (click)="login()">ورود</button>


  <div *ngIf="usr">
    <p>User {{ usr.fullName }} successfully logged in</p>
  </div>
  
  
</div>