<div class="offers page-padding">

  <div class="offer alpha">

    <div class="col">
      <h2>خرید <span class="coin">100</span> سکه</h2>
      <h4 class="price">
        5,000
        <span class="toman">تومان</span>
      </h4>
    </div>

    <div class="btn btn-primary">خرید</div>

  </div>

  <div class="offer beta">

    <div class="col">
      <h2>خرید <span class="coin">500</span> سکه</h2>
      <h4 class="price">
        32,000
        <span class="toman">تومان</span>
      </h4>
    </div>
    
    <div class="btn btn-primary">خرید</div>

  </div>

  <div class="offer delta">

    <div class="col">
      <h2>خرید <span class="coin">1000</span> سکه</h2>
      <h4 class="price">
        64,000
        <span class="toman">تومان</span>
      </h4>
    </div>
    
    <div class="btn btn-primary">خرید</div>

  </div>
  

</div>