<div class="offers page-padding">

  <div class="card card-butt" style="margin-bottom: 32px;">
    <h3>خرید سکه</h3>
    <p dir="rtl">
      {{ content }}
    </p>
  </div>

  <div class="offer alpha" *ngFor="let offer of offers">

    <div class="col">
      <h2>خرید <span class="coin">{{ offer.coinCount }}</span> سکه</h2>
      <h4 class="price">
        {{offer.price}}
        <span class="toman">تومان</span>
      </h4>
    </div>

    <div class="btn btn-primary">خرید</div>

  </div>

</div>