<div class="confirm">

  <h1 style="margin-bottom: 8px;">فراموشی رمز عبور</h1>
  <p style="margin-bottom: 20px;">لطفا شماره تلفن خود را وارد کنید تا رمز جدید برای شما ارسال شود</p>

  <div class="gp">
    <label for="tel">شماره تلفن</label>
    <input [(ngModel)]="attempt.telNo" [class.has-error]="(tel.dirty || tel.touched) && !tel.valid" class="textbox" telno
      type="tel" #tel="ngModel" name="tel" required>

    <ng-container *ngIf="tel.dirty || tel.touched">
      <span class="err" *ngIf="tel.errors?.['required']">لطفا شماره تلفن خود را وارد کنید</span>
      <span class="err" *ngIf="tel.errors?.['telno'] && attempt.telNo">شماره تلفن صحیح نمی باشد</span>
    </ng-container>

  </div>

  <div *ngIf="serverError" class="alert danger" style="margin-top: 16px;">
    {{ serverError }}
  </div>
  
  <div *ngIf="serverSuccess" class="alert success" style="margin-top: 16px;">
    {{ serverSuccess }}
  </div>
  
  <div class="rowr gap-tween-component-up gap">
    <button *ngIf="!isPasswordChangeSuccessful" [disabled]="!isValid" class="btn btn-primary login" (click)="sendPassword()">ثبت</button>
    <button *ngIf="isPasswordChangeSuccessful" class="btn btn-primary login">ورود</button>
  </div>

</div>