@import "/src/assets/styles/vars";
@import "/src/assets/styles/utility";

:host ::ng-deep .tournament .countdown {
  background-color: $card-background !important;
  font-size: 0.7em !important;
  font-weight: lighter;
  padding: 0px 8px 1px 8px !important; 
  margin-bottom: 2px;
}

:host ::ng-deep .tournament.easy .countdown span {
  color: #4bcf1f !important;
}

:host ::ng-deep .tournament.medium .countdown span {
  color: #fcb334 !important;
}

:host ::ng-deep .tournament.hard .countdown span {
  color: #fb5f27 !important;
}


.tournament {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "challenge title" "challenge information";
  overflow: hidden;
  border-radius: $card-border-radius;
  padding: 12px;
  background: linear-gradient(94.42deg, #e2f95a 0%, #32eb7c 100%);
  color: white;
  @include transl;
  cursor: pointer;

  .title {
    @include col;
    grid-area: title;
    font-size: 1.5em;
    margin-bottom: 4px;
  }

  .informations {
    grid-area: information;
    @include rowr;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    .info {
      @include rowr;

      .material-icons {
        width: 20px;
        margin: auto 0;
        margin-left: 8px;
      }

      @media screen and (max-width: 432px) {
        .material-icons {
          display: none;
        }
      }

      .col {
        @include col;

        h5 {
          font-size: 1em;
        }

        label {
          font-size: 0.8em;
        }
      }
    }
  }

  .challenge {
    grid-area: challenge;
    @include col;
    align-items: center;
    justify-content: center;

    .btn {
      background-color: $card-background;
      padding: 8px;
      border-radius: $card-border-radius;
      // box-shadow: $card-butt;
      @include col;
      min-width: 96px;
      cursor: pointer;

      * {
        cursor: pointer;
      }

      > label {
        font-size: 1.4em;
        text-align: center;
        margin-bottom: 4px;
        color: #4bcf1f;
      }

      .coin-count {
        @include rowr;
        background-color: #fff3ca;
        border-radius: 8px;
        overflow: hidden;
        margin: 0 auto;
        min-width: 72px;

        .coin {
          padding: 0 6px;
          background-color: #ffe99a;
          align-items: center;
          @include row;

          img {
          width: 16px;
        }
        }

        label {
          padding: 0 6px;
          font-size: 1.1em;
          color: #ebc84b;
          text-align: center;
          margin-bottom: 4px;
          flex: 1;
        }
      }
    }
  }
}

.tournament:hover {
  box-shadow: 0 0 0 6px rgba(124, 238, 17, 0.2);
  @include transs;
}

.tournament.easy {
  background: linear-gradient(94.42deg, #e2f95a 0%, #32eb7c 100%);
  .challenge .btn > label {
    color: #4bcf1f;
  }
}
.tournament.easy:hover {
  box-shadow: 0 0 0 6px rgba(124, 238, 17, 0.2);
  @include transs;
}

.tournament.medium {
  background: linear-gradient(94.42deg, #f9e95a 0%, #ff8514 100%);
  .challenge .btn > label {
    color: #fcb334;
  }
}
.tournament.medium:hover {
  box-shadow: 0 0 0 6px rgba(245, 179, 11, 0.2);
  @include transs;
}

.tournament.hard {
  background: linear-gradient(94.42deg, #ffa133 0%, #f71b1b 100%);
  .challenge .btn > label {
    color: #fb5f27;
  }
}
.tournament.hard:hover {
  box-shadow: 0 0 0 6px rgba(238, 17, 17, 0.2);
  @include transs;
}
