<div class="tournament">
  <h3>{{ tournament.title }}</h3>
  <div class="informations">
    <div class="info part-takers">
      <i class="material-icons">people</i>
      <div class="col">
        <h5>126</h5>
        <label>شرکت کننده</label>
      </div>
    </div>
    <div class="info question-count">
      <i class="material-icons">question</i>
      <div class="col">
        <h5>20</h5>
        <label>سوال</label>
      </div>
    </div>
    <div class="info difficulty-level">
      <i class="material-icons">fire</i>
      <div class="col">
        <h5>بسیار آسان</h5>
        <label>درجه سختی</label>
      </div>
    </div>
  </div>
  <div class="challenge">
    <label>شرکت</label>
    <div class="coin-count">
      <div class="coin">
        <img src="/assets/svg/coin.svg" alt="">
      </div>
      <label>{{ tournament.fee }}</label>
    </div>
  </div>
</div>