<div class="profile">

  <img [src]="user?.profileImageUrl" alt="" class="avatar">

  <h1 class="name">{{ user?.fullName }}</h1>

  <p class="bio"> {{ user?.bio }} </p>

  <section class="leaderboards board">

    <header class="header">
      <img src="/assets/svg/clock.svg" alt="" class="icon score">
      <h3 class="title">رن</h3>
    </header>

    <div class="leads">

      <div class="lead" *ngFor="let hist of history">
        <div class="place">{{ hist.rank}}</div>
        <label class="name">{{ hist.tournamentTitle }}</label>
      </div>

    </div>

  </section>

  <div class="actions">
  </div>

</div>