@import "/src/assets/styles/vars";
@import "/src/assets/styles/utility";

.profile {
  position: relative;
  padding-top: 30px;
  @include col;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 420px;
  width: 100%;

  .avatar {
    @include circle;
    width: 6.4em;
    height: 6.4em;
    border: 4px solid white;
    box-shadow: 0 0 8px rgba(#000, $alpha: 0.2);
    margin-bottom: 16px;
  }

  .name {
    color: $text-1;
    font-size: 1.6em;
    text-align: center;
    direction: rtl;
  }

  .bio {
    color: $text-3;
    font-size: 1em;
    text-align: center;
    margin-bottom: 32px;
    direction: rtl;
  }

  .actions {
    @include rowr;
    gap: 16px;
    margin: 0 auto;
    margin-top: 32px;
  }

  .leads {
    min-width: 300px;

    .lead {
      @include rowr;
      align-items: center;
      padding: 6px 12px;
      cursor: pointer;

      .place {
        @include flex;
        align-items: center;
        justify-content: center;
        background-color: $card-background;
        border: 1px solid $card-border-color;
        border-radius: 8px;
        font-size: 1.2em;
        text-align: center;
        min-width: 2.5ch;
        margin: auto 0;
        margin-left: 8px;
        color: $text-1;
        cursor: pointer;
      }

      .name {
        font-size: 1em;
        color: $text-3;
      }
    }

    .lead:not(.self):hover {
      background-color: darken($control-backgorund, $amount: 3%);
    }
  }
}
