@import "/src/assets/styles/vars";
@import "/src/assets/styles/utility";

.footer {
  height: $footer-height;
  background: rgb(0 0 0 / 8%);
  @include row;
  margin-top: 20px;

  > p {
    margin: auto;
    color: rgb(0 0 0 / 40%);
  }
  
}
