<div class="profile">

  <img [src]="user?.profileImageUrl" alt="" class="avatar">

  <h1 class="name">{{ user?.fullName }}</h1>

  <p class="bio">
    {{ user?.bio }}
  </p>

  <button class="btn-icon btn-danger log-out" (click)="signout()">
    <i class="material-icons">logout</i>
  </button>

  <div class="actions">
    <button routerLink="/user/editProfile" class="btn btn-primary">
      ویرایش  
      <i class="material-icons">edit</i>
    </button>

    <button routerLink="/user/changePassword" class="btn btn-outline">
      تغییر گذرواژه
      <i class="material-icons">lock</i>
    </button>
  </div>
  
</div>