<div class="profile">

  <img src="/assets/png/avatar.png" alt="" class="avatar">

  <h1 class="name">کاربر کاربر زاده</h1>

  <p class="bio">
    و در همان حال کار آنها به نوعی وابسته به متن می‌باشد آنها با استفاده از محتویات ساختگی، صفحه گرافیکی خود را
    صفحه‌آرایی می‌کنند تا مرحله طراحی و صفحه‌بندی را به پایان برند.
  </p>

  <button class="btn-icon btn-danger log-out" (click)="signout()">
    <i class="material-icons">logout</i>
  </button>

  <div class="actions">
    <button routerLink="/user/editProfile" class="btn btn-primary">
      ویرایش  
      <i class="material-icons">edit</i>
    </button>

    <button routerLink="/user/changePassword" class="btn btn-outline">
      تغییر گذرواژه
      <i class="material-icons">lock</i>
    </button>
  </div>
  
</div>