<div class="profile">

  <img [src]="user?.profileImageUrl" alt="" fallbackImage class="avatar">

  <h1 class="name">{{ user?.fullName }}</h1>

  <p class="bio">
    {{ user?.bio }}
  </p>

  <button class="btn-icon btn-danger log-out" (click)="signout()">
    <i class="material-icons">logout</i>
  </button>

  <div class="actions">
    <button routerLink="/user/editProfile" class="btn btn-primary">
      ویرایش  
      <i class="material-icons">edit</i>
    </button>

    <button routerLink="/user/changePassword" class="btn btn-outline">
      تغییر گذرواژه
      <i class="material-icons">lock</i>
    </button>
  </div>

  <section class="leaderboards board" style="margin-top: 32px;">

    <header class="header">
      <img src="/assets/svg/clock.svg" alt="" class="icon score">
      <h3 class="title">تاریخچه</h3>
    </header>

    <div class="leads">

      <div class="lead" *ngFor="let hist of history" [routerLink]="['/', 'tournament','info', hist.tournamentId]">
        <div class="place">{{ hist.rank}}</div>
        <label class="name">{{ hist.tournamentTitle }}</label>
      </div>

    </div>

  </section>
  
</div>