<div class="index page-padding page-gap col">

  <app-tournaments></app-tournaments>

  <app-leaderboards></app-leaderboards>

  <div class="card gold-banner">
    <h3 class="title">
      <img class="coin" src="/assets/svg/coin.svg" alt="">
      پیشنهاد ویژه!
    </h3>
      <div class="text">
        <p>
          از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند و در همان حال کار آنها به
          نوعی وابسته به متن می‌باشد
        </p>
        <button class="btn btn-white">
          خرید سکه
          <i class="material-icons">chevron_left</i>
        </button>
      </div>
    <img class="big-coin" src="/assets/svg/bigCoin.svg" alt="">
  </div>

  <app-history></app-history>

</div>