<div class="index page-padding">

  <app-tournaments></app-tournaments>

  <app-leaderboards></app-leaderboards>

  <div class="banner">
    <h3>
      <i></i>
      پیشنهاد ویژه!
    </h3>
    <div class="row">
      <div class="col">
        <p>
          از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند و در همان حال کار آنها به
          نوعی وابسته به متن می‌باشد
        </p>
        <button class="btn btn-white">
          <i class="material-icons">chevron_left</i>
          خرید سکه
        </button>
      </div>
    </div>
  </div>

</div>


