<header class="header">
  <div class="user">
    <img src="" alt="" class="avatar">
    <h4 class="username">کاربر کاربرزاده</h4>
  </div>
  <nav class="desktop-nav">
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active">خانه</a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active">پروفایل</a>
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active">تماس باما</a>
      </li>
    </ul>
  </nav> 
  <div class="left">
    <div class="points">
      <img src="" alt="">
      <label>100</label>
    </div>
    <div class="coins">
      <img src="" alt="">
      <label>120</label>
    </div>
    <a routerLink="/" class="logo">
      <img src="" alt="">
    </a>
  </div>
</header>