<header class="header">
  <ng-container *ngIf="account.loggedIn">
    <div class="user" routerLink="/user/profile">
      <img [src]="user?.profileImageUrl" alt="" class="avatar">
      <h4 class="username">{{ user?.fullName}}</h4>
    </div>
  </ng-container>
  <ng-container *ngIf="!account.loggedIn">
    <div class="enter">
      <button class="btn btn-primary" routerLink="/account/login">
        ورود
      </button>
      <button class="btn btn-outline" routerLink="/account/signup">
        ثبت نام
      </button>
    </div>
  </ng-container>
  <nav class="desktop-nav" *ngIf="nav">
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true}">خانه</a>
      </li>
      <li>
        <a routerLink="/user" routerLinkActive="active">پروفایل</a>
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active">تماس باما</a>
      </li>
    </ul>
  </nav>
  <div class="left">
    <ng-container *ngIf="account.loggedIn">
      <div class="points">
        <div class="icon">
          <img src="/assets/svg/score.svg" alt="">
        </div>
        <label>100</label>
      </div>
      <div class="coins" routerLink="/offers">
        <div class="icon">
          <img src="/assets/svg/coin.svg" alt="">
        </div>
        <label>120</label>
      </div>
    </ng-container>

    <a routerLink="/" class="logo">
      <img src="/assets/png/owl.png" alt="" width="48" height="48">
    </a>
  </div>
</header>

<div class="clearfix" role="none"></div>