@import "/src/assets/styles/vars";
@import "/src/assets/styles/utility";

.header {
  @include rowr;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: $card-background;
  box-shadow: 0 4px 16px transparentize($color: #000, $amount: 0.9);
  // height: $header-navbar-height;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  .user {
    @include rowr;
    align-items: center;

    img.avatar {
      @include circle;
      width: 48px;
      height: 48px;
    }

    .username {
      color: $text-2;
      max-width: 228px;
      margin-right: 12px;
      overflow-y: hidden;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      direction: rtl;
    }
  }

  //-----------------//

  .desktop-nav {
    @include flex;
    margin-left: auto;
    margin-right: 1.5em;
    //-
    display: none;

    ul {
      @include rowr;
      > li {
        display: flex;
        align-items: center;

        > a {
          background-color: transparent;
          padding: 4px 8px;
          min-width: 72px;
          @include circle;
          text-align: center;
          border: 1px solid transparent;
          @include transl;
          color: $text-3;
        }

        a:hover {
          border-color: #e7e0f8;
          color: #8f5ff4;
          @include transs;
        }

        > a.active {
          background-color: #f1eaff;
          color: #8f5ff4;
        }
      }
      // margin
      > li:not(:last-child) {
        margin-left: 0.5em;
      }
    }
  }

  @media screen and (min-width: $break-3) {
    .desktop-nav {
      display: flex;
    }
  }

  //-----------------//

  .left {
    @include rowr;
    align-items: center;

    .points {
      @include rowr;
      align-items: center;
      margin-left: 10px;

      .icon {
        @include row;
        height: 24px;
        border-radius: 14px;
        background-color: #b9f5a4;
        padding: 5px;
        margin-left: 5px;

        img {
          width: 24px;
          margin: auto;
        }
      }

      label {
        color: #64ec24;
        font-size: 1.1em;
      }
    }

    //-----//

    .coins {
      @include rowr;
      align-items: center;
      margin-left: 10px;

      .icon {
        @include row;
        height: 24px;
        border-radius: 14px;
        background-color: #f5e3a4;
        padding: 5px;
        margin-left: 5px;

        img {
          width: 24px;
          margin: auto;
        }
      }

      label {
        color: #ecc024;
        font-size: 1.1em;
      }
    }

    //-----//

    .logo {
      @include flex;
      justify-content: center;
      background-color: #f9f9f9;
      border-radius: 14px;

      > img {
        width: 48px;
        height: 48px;
      }
    }
  }
}

.clearfix {
  height: $header-navbar-height;
}
