@import "/src/assets/styles/vars";
@import "/src/assets/styles/utility";

.header {
  @include rowr;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: $card-background;
  box-shadow: 0 4px 16px transparentize($color: #000, $amount: 0.9);
  // height: $header-navbar-height;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  .user {
    @include rowr;
    align-items: center;

    img.avatar {
      @include circle;
      width: 48px;
      height: 48px;
    }

    .username {
      color: $text-2;
      font-size: 1.2em;

      margin-right: 12px;
    }
  }

  //-----------------//

  .desktop-nav {
    visibility: hidden;
    margin-left: auto;
    @include flex;

    ul {
      @include rowr;
      > li {
        > a {
        }
      }
    }
  }

  //-----------------//

  .left {
    @include rowr;
    align-items: center;

    .points {
      @include rowr;
      align-items: center;
      margin-left: 10px;

      .icon {
        @include row;
        height: 24px;
        border-radius: 14px;
        background-color: #b9f5a4;
        padding: 5px;
        margin-left: 5px;

        img {
          width: 24px;
          margin: auto;
        }
      }

      label {
        color: #64ec24;
        font-size: 1.1em;
      }
    }

    //-----//

    .coins {
      @include rowr;
      align-items: center;
      margin-left: 10px;

      .icon {
        @include row;
        height: 24px;
        border-radius: 14px;
        background-color: #f5e3a4;
        padding: 5px;
        margin-left: 5px;

        img {
          width: 24px;
          margin: auto;
        }
      }

      label {
        color: #ecc024;
        font-size: 1.1em;
      }
    }

    //-----//

    .logo {
      @include flex;
      justify-content: center;
      background-color: #f9f9f9;
      border-radius: 14px;

      > img {
        width: 48px;
        height: 48px;
      }
    }
  }
}

.clearfix {
  height: $header-navbar-height;
}
