<div class="profile">

  <div class="image-upload">
    <label class="upload material-icons">
      image
      <input type="file" #avatarPicker accept="image/png, image/jpeg" (change)="avatarPicked()">
    </label>
    <img [src]="avatar" alt="" class="avatar">
  </div>

  <div class="form">

    <div class="gp">

      <label for="fullName">نام و نام خانوادگی</label>
      <input [(ngModel)]="user.fullName" [class.has-error]="(fullName.dirty || fullName.touched) && !fullName.valid"
        class="textbox" type="text" #fullName="ngModel" name="text" required>

      <ng-container *ngIf="fullName.dirty || fullName.touched">
        <span class="err" *ngIf="fullName.errors?.['required']">لطفا نام و نام خانوادگی خود را وارد نمایید</span>
      </ng-container>

    </div>

    <div class="gp">
      <label for="bio">توضیحات درباره خود</label>
      <textarea [(ngModel)]="user.bio" [class.has-error]="(bio.dirty || bio.touched) && !bio.valid" class="textarea"
        #bio="ngModel" name="bio" required></textarea>

      <ng-container *ngIf="bio.dirty || bio.touched">
        <span class="err" *ngIf="bio.errors?.['required']">لطفا توضیحاتی کوتاه درباره خود ارائه دهید</span>
      </ng-container>

    </div>

  </div>

  <div class="actions">
    <button class="btn btn-success" [disabled]="!isValid" (click)="edit()">
      تایید
      <i class="material-icons">check</i>
    </button>
    <button class="btn btn-danger" routerLink="/user/profile">
      لغو
      <i class="material-icons">block</i>
    </button>
  </div>

  <modal #success>
    <div class="card col gap">
      <div>
        <h3>موفق</h3>
        <p>
          پروفایل ویرایش یافت
        </p>
      </div>
      <button class="btn btn-primary" (click)="successClick()">باشه</button>
    </div>
  </modal>

</div>