@import "vars";
@import "utility";

//-
//- Components

// anchor tags
a,
.link {
  color: lighten($color: $primary, $amount: 2%);
  text-decoration: none;
  cursor: pointer;
}

a:hover,
.link:hover {
  @include trans();
  color: lighten($color: $primary, $amount: 10%);
}

a:active,
.link:active {
  @include trans(0.03s);
  color: lighten($color: $primary, $amount: 20%);
  text-shadow: 0 0 0;
}

// .link-text {
//   color: $text-1;
//   text-decoration: none;
//   cursor: pointer;
//   @include trans;
// }

// .link-text:hover {
//   color: $primary;
// }

//- Btn, Button

// size and alignment
.btn {
  padding: 6px 12px;
  cursor: pointer;
  min-width: 108px;
  @include rowr;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  white-space: nowrap;
  background-color: white;
  color: $text-3;
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.16);
  transform: translateY(-3px);
  @include transl;
  user-select: none;

  > span {
    color: inherit;
  }

  /** !!! only spans allowed as content */
  // only the text span
  span:not(.material-icons) {
    font-size: 1.1em;
  }

  // space between icon and text (only if there is an icon)
  > .material-icons + span:nth-child(2) {
    margin-right: 8px;
  }
}

.btn:active {
  transform: translateY(0);
  box-shadow: 0 3px 0 0 #00000025;
  @include trans(0.1s);
}

.btn-icon {
  padding: 6px 12px;
  cursor: pointer;
  @include rowr;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  white-space: nowrap;
  background-color: white;
  color: $text-3;
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.16);
  transform: translateY(-3px);
  @include transl;
  user-select: none;
}

.btn-icon:hover,
.btn-icon:focus {
  color: $text-1;
}

.btn-icon:active {
  transform: translateY(0);
  box-shadow: 0 3px 0 0 #00000025;
  @include trans(0.1s);
}

// color, effects and hierarchy

.btn-primary {
  background-color: $primary;
  box-shadow: 0 6px 0 0 #7e4de5;
  color: $text-d-1;
  @include trans();
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: lighten($color: $primary, $amount: 6%);
  box-shadow: 0 6px 0 0 #946aee;
  @include trans(0.2s);
  color: $text-d-1;
}

.btn-primary:active {
  @include trans(0.05s);
  box-shadow: 0 3px 0 0 #946aee;
}

//-
.btn-danger {
  color: white;
  background-color: $err;
  box-shadow: 0 6px 0 darken($err, 8%), $card-shadow;
  @include trans();
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: lighten($color: $err, $amount: 8%);
  box-shadow: 0 6px 0 0 lighten($color: $err, $amount: 2%);
  @include trans(0.2s);
  color: $text-d-1;
}

.btn-danger:active {
  @include trans(0.05s);
  background-color: lighten($err, 8%);
  box-shadow: 0 3px 0 lighten($err, 2%);
}

.btn-success {
  color: white;
  background-color: $succ;
  box-shadow: 0 6px 0 darken($succ, 8%), $card-shadow;
  @include trans();
}

.btn-success:hover,
.btn-success:focus {
  background-color: lighten($color: $succ, $amount: 8%);
  box-shadow: 0 6px 0 0 lighten($color: $succ, $amount: 2%);
  @include trans(0.2s);
  color: $text-d-1;
}

.btn-success:active {
  @include trans(0.05s);
  background-color: lighten($succ, 8%);
  box-shadow: 0 3px 0 lighten($succ, 2%);
}

.btn-outline {
  background-color: white;
  color: darken($color: $card-border-color, $amount: 32%);
  box-shadow: 0 6px 0 0 $card-border-color;
  border: $card-border-color 2px solid;
  // ! Compensate for border width
  padding: 4px 10px;
  @include trans();
}

.btn-outline:hover,
.btnoutline:focus {
  $c: darken(
    $color: $card-border-color,
    $amount: 8%,
  );
  color: darken($color: $card-border-color, $amount: 40%);
  border-color: $c;
  box-shadow: 0 6px 0 0 $c;
}

.btn-outline:active {
  @include trans(0.05s);
  color: $primary;
  border-color: $primary;
  box-shadow: 0 3px 0 0 $primary;
}

.btn-invis {
  background-color: transparent;
  color: $text-2;
  @include trans();
}

.btn-invis:hover,
.btn-invis:focus {
  background-color: transparentize($color: #000, $amount: 0.95);
}

.btn-invis:active {
  @include trans(0.05s);
  background-color: transparentize($color: #000, $amount: 0.88);
}

.btn:disabled,
.btn[disabled],
.btn.disabled {
  background-color: #e5e5e5;
  box-shadow: 0 6px 0 0 #c2c2c2;
  color: $text-4;
  @include trans();
  cursor: not-allowed;
}

.btn:disabled:hover,
.btn[disabled]:hover,
.btn.disabled:hover {
  background-color: #e5e5e5;
  box-shadow: 0 6px 0 0 #c2c2c2;
  color: $text-4;
  @include trans();
}

//- Card

@mixin mat {
  background-color: $card-background;
  border-radius: $card-border-radius;
}

.mat {
  @include mat;
}

.card-shadow {
  box-shadow: $card-shadow;
}

.card-radius {
  border-radius: $card-border-radius;
}

.card-padding {
  padding: $card-padding;
}

.card-border {
  border: $card-border-color 1 solid;
}

.card {
  @include mat;
  padding: $card-padding;
  box-shadow: $card-shadow;
  overflow: hidden;
}

.card-butt {
  border-bottom: 0;
  box-shadow: $card-shadow, 0 8px 0 0 $card-butt-color;
}

.board {
  @include col;
  overflow: hidden;
  $padding: $card-padding;
  padding: 0;
  border-radius: $card-border-radius;
  box-shadow: $card-butt, $card-shadow;

  .header {
    padding: 10px $card-padding;
    background-color: $card-background;
    @include rowr;
    border-bottom: 1px solid $card-border-color;
    min-height: 16px;

    .icon {
      width: 22px;
    }

    .title {
      margin-right: 8px;
      font-size: 1.2em;
    }
  }

  .content {
    background-color: $control-backgorund;
    min-height: 16px;
  }

  .footer {
    padding: 10px $card-padding;
    background-color: $card-background;
    @include rowr;
    border-top: 1px solid $card-border-color;
    min-height: 16px;
  }
}

//- form

.gp {
  @include col;
  margin-bottom: 8px;

  > label,
  .lbl {
    font-size: 1.2em;
    color: $text-2;
    margin-bottom: 6px;
  }

  .err {
    margin-top: 4px;
    color: $err;
  }
}

.textbox {
  background-color: transparent;
  border: $card-border-color 3px solid;
  padding: 4px 8px;
  @include placeholder($control-placeholder);
  border-radius: 8px;
  font-size: 1em;
  color: $text-2;
  min-width: 50px;
  direction: rtl;
  @include transl;
}

.textbox.has-error {
  border-color: $err;
}

.textbox:focus,
.textbox:focus-within {
  border-color: $primary;
  @include transs;
}

.textarea {
  @extend .textbox;
  transition-property: border-color;
  resize: vertical;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darken($color: $card-border-color, $amount: 8%);
  @include circle;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($color: $primary, $amount: 8%);
}

// .combobox {
//   background-color: $control-backgorund;
//   padding: 5px 8px;
//   border-left: $control-backgorund solid 8px;
//   border-radius: 12px;
//   font-size: 1em;
//   color: $text-2;
//   min-width: 50px;
//   direction: rtl;
// }

//- layout

.container {
  margin-left: auto;
  margin-right: auto;
  @include col;
  min-height: calc(100vh - #{$header-navbar-height} - #{$footer-height} - 20px);
}

@media screen and (max-width: $break-3) {
  .container {
    min-height: calc(
      100vh - #{$header-navbar-height} - #{$footer-height} - #{$mobile-navbar-height} -
        20px
    );
  }
}

@media screen and (min-width: $break-1) {
  .container {
    width: 900px;
  }
}

@media screen and (max-width: $break-1) and (min-width: $break-2) {
  .container {
    width: 900px;
  }
}

@media screen and (max-width: $break-2) and (min-width: $break-3) {
  .container {
    width: 820px;
  }
}

@media screen and (max-width: $break-3) and (min-width: $break-4) {
  .container {
    width: 480px;
  }
}

@media screen and (max-width: $break-4) {
  .container {
    width: calc(100% - 20px);
  }
}

.container-fluid {
  width: 100%;
}

$gap-tween-component: 48px;

.gap {
  gap: 12px;
}

.gap-tween-component-down {
  margin-bottom: $gap-tween-component;
}

.gap-tween-component-up {
  margin-top: $gap-tween-component;
}

// .biscuit {
//   width: 100%;
//   margin-bottom: -8px;
// }

.page-padding {
  padding: 20px 0;
}

.page-gap {
  gap: 24px;
}

//- alerts

.alert {
  border: 2px solid gray;
  background-color: lightgray;
  padding: $card-padding;
  border-radius: 8px;
  color: $text-4;
}

.alert.danger {
  border-color: transparentize($color: $err, $amount: .5);
  background-color: transparentize($color: $err, $amount: .8);
  color: $err;
}

.alert.success {
  border-color: transparentize($color: $succ, $amount: .5);
  background-color: transparentize($color: $succ, $amount: .8);
  color: $succ;
}

.alert.warning {
  border-color: transparentize($color: $warn, $amount: .5);
  background-color: transparentize($color: $warn, $amount: .8);
  color: $warn;
}

.noresult {
  text-align: center;
  color: $text-3;
  padding: $card-padding;
}