// - Variables
@import "vars";
@import "utility";
@import "components";

// - Reset
// - Utility
// - Components

//- Reset

* {
  padding: 0;
  margin: 0;
  font-family: IRANYekan, "iranyekanregular", "B Yekan", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  outline: none;
  border: 0;
  text-align: right;
}

html,
body {
  background-color: $background;
  overflow-x: hidden;
  background-repeat-x: no-repeat;
  background-size: cover;
}

body.sky {
  background-image: url(/assets/svg/skybg.svg);
}

ul {
  list-style-type: none;
}

img {
  object-fit: contain;
  object-position: center;
}

@media only screen and (max-width: $break-3) {
  html,
  body {
    font-size: 0.9em;
  }
}
