@import "/src/assets/styles/vars";
@import "/src/assets/styles/utility";

.challenge {
  margin: auto;
  max-width: 550px;

  .question {
    margin-top: 24px;
    border: 2px solid $card-border-color;
    box-shadow: 0;
    margin-bottom: 32px;

    .nofm {
      font-size: 1.2em;
      color: $text-5;
      margin-bottom: 8px;

      .all {
        color: $text-5;
        font-weight: lighter;
      }

      .count {
        color: $text-2;
        font-weight: bold;
      }
    }

    .description {
      font-size: 1.2em;
      color: $text-1;
      direction: rtl;
    }
  }

  .options {
    margin-bottom: 40px;

    .option {
      appearance: none;
      width: 100%;
      @include rowr;
      align-items: center;
      @include circle;
      border: 2px solid $card-border-color;
      padding: 10px;
      box-shadow: 0;
      box-shadow: 0 4px 12px transparentize(#000, $amount: 0.8);
      color: $text-2;
      font-size: 1em;
      @include transl;
    }

    .option:before {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      margin-left: 8px;
      border: 2px solid $card-border-color;
      @include circle;
    }

    .option:not([disabled]):hover {
      background-color: darken($card-background, $amount: 3%);
      cursor: pointer;
      @include transs;
    }

    .option:not(:last-child) {
      margin-bottom: 12px;
    }

    .option.selected,
    .option.selected::before {
      border-color: $primary;
      box-shadow: 0 4px 12px transparentize($primary, $amount: 0.72);
    }

    .option.wrong {
      border-color: transparent;
      background-color: #f64b4b;
      color: white;
    }

    .option.correct {
      border-color: transparent;
      background-color: #75e74d;
      color: white;
    }

    .option.wrong::before,
    .option.correct::before {
      border: 6px solid white;
      width: 12px;
      height: 12px;
    }
  }

  .btn {
    width: 100%;
  }

  .helpers {
    margin-top: 40px;
    @include col;

    .helper {
      @include rowr;
      background-color: white;
      padding: 8px;
      border: 2px solid $card-border-color;
      border-radius: 10px;
      cursor: pointer;
      @include transl;

      .image {
        width: 56px;
        height: 56px;
        border-radius: 8px;
        background-image: url("/assets/svg/helper/bomb.svg");
        background-repeat: no-repeat;
        background-size: cover;
      }

      .col {
        flex: 1;
        @include rowr;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;

        .title {
          color: $text-1;
          font-size: 1.4em;
          font-weight: 400;
          flex: 1;
        }

        .coin {
          @include rowr;
          color: #ecc024;
          align-items: center;
          justify-content: center;
          font-size: 1.5em;
          min-width: 64px;

          img {
            width: 20px;
            height: 20px;
            margin-left: 12px;
          }
        }
      }
    }

    .helper.bomb .image {
      background-image: url("/assets/svg/helper/bomb.svg");
    }

    .helper.duplex .image {
      background-image: url("/assets/svg/helper/duplex.svg");
    }

    .helper.time .image {
      background-image: url("/assets/svg/helper/hourglass.svg");
    }

    .helper:not(:last-child) {
      margin-bottom: 12px;
    }

    .helper:hover {
      @include transs;
      border-color: $primary;
    }

    .helper.duplex.active, .helper[disabled] {
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
    }
  }
}
