<div class="challenge page-padding">

  <app-timer #timer [(remaining)]="remainingMilis" (expired)="timeUp()" [max]="maxTime"></app-timer>

  <div class="question card">

    <div class="round-info">
      <span class="round"> راند {{ roundPlace }}</span>
      <div class="nofm">
        <span class="all">{{ questions.length }}</span>
        /
        <span class="count">{{ questions.indexOf(currentQuestion) +1 }}</span>
      </div>

    </div>

    <div class="description">
      {{ currentQuestion?.questionText }}
    </div>

  </div>

  <div class="options">

    <button class="option card" [disabled]="answerSent" [class.selected]="chosenOption == option"
      [class.wrong]="answerSent && chosenOption == option && correctAnswerId != option.id"
      [class.correct]="answerSent && correctAnswerId == option.id"
      *ngFor="let option of currentQuestion?.questionOptions" (click)="selectOption(option)">

      {{ option.optionText }}
    </button>

  </div>

  <button class="btn btn-primary" *ngIf="!answerSent" [disabled]="!chosenOption"
    (click)="acceptAnswer()">انتخاب</button>

  <button class="btn btn-primary" *ngIf="answerSent && !isFinalQuestion" (click)="toNextQuestion()">
    <span class="material-icons">chevron_right</span>
    سوال بعدی
  </button>

  <button class="btn btn-primary" [disabled]="gettingNewRound" style="margin-bottom: 16px;" *ngIf="answerSent && isFinalQuestion && nextRound"
    (click)="playNextRound()">
    <span class="material-icons">keyboard_tab</span>
    راند بعدی
  </button>

  <button class="btn" [ngClass]="{ 'btn-outline': nextRound, 'btn-primary': !nextRound }" [disabled]="gettingNewRound && nextRound"
    *ngIf="answerSent && isFinalQuestion" (click)="finishRound()">
    <span class="material-icons">done</span>
    اتمام مسابقه
  </button>

  <div class="helpers">

    <button class="helper" *ngFor="let helper of helpers" (click)="activateHelper(helper)"
      [ngClass]="{ 'bomb': helper.id == 1, 'duplex': helper.id == 2, 'time': helper.id == 3}"
      [class.active]="activatedHelpers.includes(helper)" [disabled]="answerSent || isTimeExpired || !hydrated">
      <div class="image"></div>
      <div class="col">
        <div class="title">
          {{ helper.title }}
        </div>
        <div class="coin">
          <img src="./assets/svg/coin.svg" alt="">
          {{ helper.cost }}
        </div>
      </div>
    </button>

  </div>

</div>