<div class="challenge page-padding">

  <app-timer #timer [(remaining)]="remainingMilis" (expired)="timeUp()" [max]="maxTime"></app-timer>

  <div class="question card">

    <div class="round-info">
      <span class="round"> راند {{ roundPlace }}</span>
      <div class="nofm">
        <span class="all">{{ questions.length }}</span>
        /
        <span class="count">{{ questions.indexOf(currentQuestion) +1 }}</span>
      </div>

    </div>

    <div class="description">
      {{ currentQuestion?.questionText }}
    </div>

  </div>

  <div class="options">

    <button class="option card" [disabled]="answerSent" [class.selected]="chosenOption == option"
      [class.wrong]="answerSent && chosenOption == option && correctAnswerId != option.id"
      [class.correct]="answerSent && correctAnswerId == option.id"
      *ngFor="let option of currentQuestion?.questionOptions" (click)="selectOption(option)">

      {{ option.optionText }}
    </button>

  </div>

  <button class="btn btn-primary" *ngIf="!answerSent" [disabled]="!chosenOption"
    (click)="acceptAnswer()">انتخاب</button>

  <button class="btn btn-primary" *ngIf="answerSent && !isFinalQuestion" (click)="toNextQuestion()">
    <span class="material-icons">chevron_right</span>
    سوال بعدی
  </button>

  <button class="btn btn-primary" [disabled]="gettingNewRound" style="margin-bottom: 16px;"
    *ngIf="answerSent && isFinalQuestion && nextRound" (click)="playNextRound()">
    <span class="material-icons">keyboard_tab</span>
    راند بعدی
  </button>

  <button class="btn" [ngClass]="{ 'btn-outline': nextRound, 'btn-primary': !nextRound }"
    [disabled]="gettingNewRound && nextRound" *ngIf="answerSent && isFinalQuestion" (click)="finishRound()">
    <span class="material-icons">done</span>
    اتمام مسابقه
  </button>

  <div class="helpers">

    <button class="helper" *ngFor="let helper of helpers" (click)="activateHelper(helper)"
      [ngClass]="{ 'bomb': helper.id == 1, 'duplex': helper.id == 2, 'time': helper.id == 3}"
      [class.active]="activatedHelpers.includes(helper)" [disabled]="answerSent || isTimeExpired || !hydrated">
      <div class="image"></div>
      <div class="col">
        <div class="title">
          {{ helper.title }}
        </div>
        <div class="coin">
          <img src="./assets/svg/coin.svg" alt="">
          {{ helper.cost }}
        </div>
      </div>
    </button>

  </div>

</div>

<modal #nocoins>
  <div class="card col gap">
    <div>
      <h3>ناکافی!</h3>
      <p>
        سکه های شما کافی نمی باشد
      </p>
    </div>
    <button class="btn btn-primary" (click)="nocoins.hide()">باشه</button>
  </div>
</modal>

<modal #roundComplete [size]="1">
  <div class="card results">

    <span *ngIf="!scores; else scoreTemplate" style="margin: auto;">در حال بارگذاری نتایج...</span>

    <ng-template #scoreTemplate>
      <h2 class="title">اتمام راند {{ roundPlace }}</h2>
      <h4 class="subtitle">عملکرد شما</h4>
      <div class="results-content">
        <div class="counter correct">
          <h5 class="counter-value">{{ scores?.isTrueResponseCount }}</h5>
          <label class="counter-title">پاسخ صحیح</label>
        </div>
        <div class="counter wrong">
          <h5 class="counter-value"> {{ scores?.isTrueResponseCount }} </h5>
          <label class="counter-title">پاسخ اشتباه</label>
        </div>
      </div>
      <h2 class="title" style="margin-top: 8px;">{{ scores?.time }}</h2>
      <div class="result-actions">
        <button class="btn btn-primary" (click)="closeModal()">بستن</button>
      </div>
    </ng-template>

  </div>
</modal>