@import "/src/assets/styles/vars";
@import "/src/assets/styles/utility";

$gap: 16px;

.tournament-info {
  @include col;

  .thumbnail {
    @include flex;
    border-radius: $card-border-radius;
    padding: 32px;
    align-items: center;
    justify-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom: $gap;
    aspect-ratio: 15/3;

    .text {
      @include col;
      align-items: center;
      justify-items: center;
      position: relative;
      margin: auto;

      .title {
        position: relative;
        text-align: center;
        z-index: 10;
        color: white;
        text-shadow: 2px 2px #333;
        direction: rtl;
      }

      .deadline {
        position: relative;
        text-align: center;
        z-index: 10;
        margin-top: 4px;
        color: transparentize($color: white, $amount: 0.08);
        direction: rtl;
      }
    }

    .background {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(8px);
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: $gap;

    .info {
      border-radius: $card-border-radius;
      padding: $card-padding;
      background-color: $card-background;
      box-shadow: $card-butt, $card-shadow;
      @include col;
      gap: 6px;
      align-items: center;

      * {
        text-align: center;
      }

      h5 {
        font-size: 1.6em;
      }
    }

    // .part-takers {
    //   background: rgb(70, 219, 24);
    //   background: linear-gradient(
    //     45deg,
    //     rgba(70, 219, 24, 1) 0%,
    //     rgba(24, 244, 241, 1) 100%
    //   );
    // }
  }

  .actions {
    @include row;
    margin-top: 3 * $gap !important;
    .btn {
      width: 50%;
      min-width: 200px;
    }
  }

  .leaderboards {
    margin-top: $gap * 4;

    .lead {
      @include rowr;
      align-items: center;
      padding: 6px 12px;
      cursor: pointer;

      .place {
        @include flex;
        align-items: center;
        justify-content: center;
        background-color: $card-background;
        border: 1px solid $card-border-color;
        border-radius: 8px;
        font-size: 1.2em;
        text-align: center;
        min-width: 2.5ch;
        margin: auto 0;
        margin-left: 8px;
        color: $text-1;
      }

      img {
        @include circle;
        width: 42px;
        border: 3px solid $background;
        margin-left: 8px;
      }

      .name {
        font-size: 1em;
        color: $text-3;
      }

      .score {
        margin-right: auto;
        background-color: $card-background;
        padding: 4px;
        border-radius: 8px;
        border: 1px solid $card-border-color;
        color: $text-2;
        font-size: 1.1em;
      }
    }

    .lead.self {
      background: linear-gradient(
        270deg,
        rgba(129, 249, 87, 0.13) 0%,
        rgba(129, 249, 87, 0.0481) 100%
      );

      .place {
        background-color: #d0f5c1;
        color: #5ed433;
        border: 1px solid #ccf0c0;
        font-weight: bold;
      }

      img {
        border: 3px solid #c8f0ba;
      }

      .name {
        color: #90d478;
        font-weight: bold;
      }

      .score {
        background-color: #d0f5c1;
        color: #5ed433;
        border: 1px solid #ccf0c0;
        font-weight: bold;
      }
    }

    .lead:not(.self):hover {
      background-color: darken($control-backgorund, $amount: 3%);
    }

    .lead.self:hover {
      background-color: transparentize(#81f957, 0.9);
    }

    .lead:not(:last-child) {
      border-bottom: 1px solid $card-border-color;
    }

    .lead.self:not(:last-child) {
      border-bottom: 1px solid #cbe6c2;
    }
  }
}
