<div class="tournament-info page-padding">

  <div class="thumbnail">
    <div class="text">
      <h1 class="title">{{ tournament.title }}</h1>
      <!-- <h3 class="deadline"> {{ tournament.deadline ?? '' | deadline }} باقی مانده </h3> -->
      <app-countdown [deadline]="tournament.deadline"></app-countdown>
    </div>
    <img class="background"
      [src]="tournament.imageUrl ?? 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mPszLjwHwAGBQLCWYHKqAAAAABJRU5ErkJggg=='"
      alt="tournament thumbnail">
  </div>

  <div class="grid">

    <div class="info part-takers">
      <i class="material-icons">people</i>
      <div class="col">
        <h5>{{ tournament.participants?.length }}</h5>
        <label>شرکت کننده</label>
      </div>
    </div>
    <div class="info question-count">
      <i class="material-icons">help</i>
      <div class="col">
        <h5>{{tournament.roundsCount}}</h5>
        <label>سوال</label>
      </div>
    </div>
    <div class="info difficulty-level">
      <i class="material-icons">local_fire_department</i>
      <div class="col">
        <h5>
          {{ tournament.difficulty | difficulty }}
        </h5>
        <label>درجه سختی</label>
      </div>
    </div>
    <div class="info retake-fee">
      <i class="material-icons">autorenew</i>
      <div class="col">
        <h5>
          {{ tournament.fee }}
        </h5>
        <label>
          هزینه شرکت دوباره
        </label>
      </div>
    </div>
  </div>

  <div class="actions">

    <ng-template #notAttendedButton>
      <button (click)="joinChallenge()" class="btn btn-primary" style="margin: auto;" *ngIf="tournament.hasAttended">
        شروع مسابقه
        <i class="material-icons">bolt</i>
      </button>
    </ng-template>

    <button (click)="repeatChallenge()" class="btn btn-primary" style="margin: auto;" *ngIf="tournament.hasAttended; else notAttendedButton">
      شروع مجدد
      <span class="fee">
        (
        <img src="./assets/svg/coin.svg">
        <span>{{ tournament.fee }}</span>
        )
      </span>
    </button>

  </div>

  <section class="leaderboards board">

    <header class="header">
      <img src="./assets/svg/score.svg" alt="" class="icon score">
      <h3 class="title">عملکرد دیگران</h3>
    </header>

    <div class="leads">

      <div class="lead" [class.self]="lead.id == user?.id" *ngFor="let lead of tournament.participants"
        [routerLink]="['/', 'user','profile', lead.id]">
        <div class="place">{{ tournament.participants.indexOf(lead) + 1 }}</div>
        <img class="avatar" src="./assets/png/avatar.png" alt="">
        <label class="name">{{ lead.fullName }}</label>
        <label class="score">{{ lead.score }}</label>
      </div>

    </div>

  </section>

</div>